[Unit]
Description=Read GPS fix data and update device time/location
OnFailure=sensos-report-failure@%n.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=sensos-runner
Group=sensos-data
UMask=0002
CapabilityBoundingSet=CAP_SYS_TIME
AmbientCapabilities=CAP_SYS_TIME
NoNewPrivileges=true
ExecStart=/sensos/python/venv/bin/python /sensos/libexec/sensos-gps.py
WorkingDirectory=/sensos/data
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
