[Unit]
Description=Periodically pull and apply the configured Ansible playbook

[Timer]
OnBootSec=2min
OnUnitActiveSec=1800

[Install]
WantedBy=timers.target
