[Unit]
Description=Stop data-producing services when /sensos/data is critically full
OnFailure=sensos-report-failure@%n.service

[Service]
Type=oneshot
ExecStart=/sensos/libexec/monitor-data-space.sh

[Install]
WantedBy=multi-user.target
