[Unit]
Description=Read GPS fix data and update device time/location
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=sensos-runner
ExecStart=/sensos/python/venv/bin/python /sensos/libexec/sensos-gps.py
WorkingDirectory=/sensos/data
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
