[Unit]
Description=Continuous Audio Recording Service
OnFailure=sensos-report-failure@%n.service
After=network.target
Wants=sensos-compress-audio.service

[Service]
Type=simple
ExecStart=/sensos/libexec/start-arecord.sh
User=sensos-runner
Group=sensos-data
UMask=0002
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
