[Unit]
Description=Thin retained data when disk space is low
After=multi-user.target sensos-arecord.service sensos-compress-audio.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=sensos-runner
ExecStart=/sensos/python/venv/bin/python /sensos/libexec/thin-data.py
WorkingDirectory=/sensos/data
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
